@page
@model LegalSecure.Pages.Clients.ClientCreateModel
@{
}
<br />
<h2 class="text-dark">Create Client</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Client.FirstName"></label>
            <input asp-for="Client.FirstName" class="form-control" />
        </div>
        <span asp-validation-for="Client.FirstName" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Client.LastName"></label>
            <input asp-for="Client.LastName" class="form-control" />
        </div>
        <span asp-validation-for="Client.LastName" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Client.BirthDate"></label>
            <input asp-for="Client.BirthDate" class="form-control" />
        </div>
        <span asp-validation-for="Client.BirthDate" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Client.ContactPhone"></label>
            <input asp-for="Client.ContactPhone" class="form-control" />
        </div>
        <span asp-validation-for="Client.ContactPhone" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Client.EmailAddress"></label>
            <input asp-for="Client.EmailAddress" class="form-control" />
        </div>
        <span asp-validation-for="Client.EmailAddress" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Client.StreetAddress"></label>
            <input asp-for="Client.StreetAddress" class="form-control" />
        </div>
        <span asp-validation-for="Client.StreetAddress" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Client.PostCode"></label>
            <input asp-for="Client.PostCode" class="form-control" />
        </div>
        <span asp-validation-for="Client.PostCode" class="text-danger"></span>
        <input type="hidden" asp-for="Client.Cases" />
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="/Clients/ClientList" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}