@page
@model LegalSecure.Pages.Solicitors.SolicitorModel
@{
    ViewData["Title"] = "Solicitor";
}

<br />
<h2 class="text-dark">Solicitor Profile</h2>
<br />

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Solicitor.FirstName"></label>
            <input asp-for="Solicitor.FirstName" class="form-control" readonly>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Solicitor.LastName"></label>
            <input asp-for="Solicitor.LastName" class="form-control" readonly>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Solicitor.BirthDate"></label>
        <input asp-for="Solicitor.BirthDate" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="Solicitor.ContactPhone"></label>
        <input asp-for="Solicitor.ContactPhone" class="form-control" readonly>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Solicitor.EmailAddress"></label>
            <input asp-for="Solicitor.EmailAddress" class="form-control" readonly>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Solicitor.StreetAddress"></label>
            <input asp-for="Solicitor.StreetAddress" class="form-control" readonly>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Solicitor.PostCode"></label>
            <input asp-for="Solicitor.PostCode" class="form-control" readonly>
        </div>
    </div>
    <div class="col-3">
        <a asp-page="/Solicitors/SolicitorList" class="btn btn-primary btn-sm form-control">Return to Cient List</a>
    </div>
</form>